<div
  class="flex items-center h-full py-16 bg-gray-100 min-h-svh dark:bg-neutral-800"
>
  <div class="w-full max-w-md p-6 mx-auto">
    <div
      class="bg-white border border-gray-200 mt-7 rounded-xl shadow-2xs dark:bg-neutral-900 dark:border-neutral-700"
    >
      <div class="p-4 sm:p-7">
        <div class="text-center">
          <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">
            <%= title %>
          </h1>
          <p class="mt-2 text-sm text-gray-600 dark:text-neutral-400">
            Already have an account?
            <a
              class="font-medium text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline dark:text-blue-500"
              href="/auth/login"
            >
              Login in here
            </a>
          </p>
        </div>

        <div class="mt-5">
          <!-- Form -->
          <form method="Post">
            <div class="grid gap-y-4">
              <!-- Form Group -->
              <div>
                <label for="email" class="block mb-2 text-sm dark:text-white"
                  >Email address</label
                >
                <div class="relative">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="py-2.5 sm:py-3 px-4 block w-full border transition-all duration-300 border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                    required
                    aria-describedby="email-error"
                    placeholder="Enter your email"
                  />
                  <div
                    class="absolute inset-y-0 hidden pointer-events-none end-0 pe-3"
                  >
                    <svg
                      class="text-red-500 size-5"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true"
                    >
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                      />
                    </svg>
                  </div>
                </div>
                <p class="hidden mt-2 text-xs text-red-600" id="email-error">
                  Please include a valid email address so we can get back to you
                </p>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div>
                <label for="password" class="block mb-2 text-sm dark:text-white"
                  >Password</label
                >
                <div class="relative">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="py-2.5 sm:py-3 px-4 block w-full border transition-all duration-300 border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                    required
                    aria-describedby="password-error"
                    placeholder="Enter your password"
                  />
                  <div
                    class="absolute inset-y-0 hidden pointer-events-none end-0 pe-3"
                  >
                    <svg
                      class="text-red-500 size-5"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true"
                    >
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                      />
                    </svg>
                  </div>
                </div>
                <p class="hidden mt-2 text-xs text-red-600" id="password-error">
                  8+ characters required
                </p>
              </div>
              <!-- End Form Group -->

              <!-- Form Group -->
              <div>
                <label
                  for="confirm-password"
                  class="block mb-2 text-sm dark:text-white"
                  >Confirm Password</label
                >
                <div class="relative">
                  <input
                    type="password"
                    id="confirm-password"
                    name="confirm-password"
                    class="py-2.5 sm:py-3 px-4 block w-full border transition-all duration-300 border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                    required
                    aria-describedby="confirm-password-error"
                    placeholder="Confirm your password"
                  />
                  <div
                    class="absolute inset-y-0 hidden pointer-events-none end-0 pe-3"
                  >
                    <svg
                      class="text-red-500 size-5"
                      width="16"
                      height="16"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      aria-hidden="true"
                    >
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                      />
                    </svg>
                  </div>
                </div>
                <p
                  class="hidden mt-2 text-xs text-red-600"
                  id="confirm-password-error"
                >
                  Password does not match the password
                </p>
              </div>
              <!-- End Form Group -->

              <button
                type="submit"
                class="inline-flex items-center justify-center w-full px-4 py-3 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-lg gap-x-2 hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
              >
                Sign up
              </button>
            </div>
          </form>
          <!-- End Form -->
        </div>
      </div>
    </div>
  </div>
</div>
